In [1]:
import pandas as pd

In [2]:
As = pd.read_csv('/data/doodle/as.csv')

In [3]:
Cd = pd.read_csv('/data/doodle/CD.csv')

In [4]:
len(As)

1083

In [5]:
len(Cd)

1762

In [6]:
Cd.head()

,gene,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,gene-psbB,86.982938,2.726863,0.858675,3.175662,1.494951e-03,7.735492e-03
1,Os01g0102600,109.175543,2.818524,0.760710,3.705123,2.112880e-04,1.446684e-03
2,Os01g0105300,16.927367,2.181575,0.610285,3.574683,3.506520e-04,2.252113e-03
3,Os01g0106400,1446.250122,-3.726076,0.411893,-9.046231,1.480000e-19,7.590000e-18
4,Os01g0106900,2113.140589,-2.108748,0.180506,-11.682395,1.570000e-31,2.070000e-29

In [7]:
As.head()

,gene,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,Os01g0106400,915.811691,-3.097902,0.385730,-8.031270,9.650000e-16,6.320000e-14
1,Os01g0110050,20.237043,2.054200,0.571372,3.595206,3.241350e-04,2.238842e-03
2,Os01g0110100,138.169158,2.333515,0.344982,6.764156,1.340000e-11,5.070000e-10
3,Os01g0113500,41.882404,-4.102633,0.538460,-7.619200,2.550000e-14,1.420000e-12
4,Os01g0114100,604.020467,-2.198700,0.288425,-7.623118,2.480000e-14,1.390000e-12

In [8]:
dic = []
for i in As['gene']:
    for j in Cd.index:
        if i == Cd.at[j,'gene']:
            dic.append(Cd.at[j,'gene'])
        else :
            pass

In [9]:
b=pd.DataFrame(dic)

In [10]:
b

                0
0    Os01g0106400
1    Os01g0113500
2    Os01g0114100
3    Os01g0121500
4    Os01g0121600
..            ...
559  Os12g0614500
560  Os12g0617250
561  Os12g0622850
562  Os12g0624300
563  Os12g0639500

[564 rows x 1 columns]

In [19]:
b.to_excel('/data/doodle/match.xlsx')

In [13]:
cde = pd.read_csv('/data/doodle/cdddedger.csv')

In [14]:
cde = cde.drop(columns= ['TXNAME','GENEID'])

In [15]:
cde.head()

,trans,logFC,logCPM,F,PValue,FDR,gene,Unnamed: 7,Unnamed: 8
0,Os12t0258700-01,3.261553,7.668786,705.828748,1.270000e-09,0.000013,Os12g0258700,NaN,NaN
1,Os08t0455900-00,6.503562,2.712952,688.329884,1.410000e-09,0.000013,Os08g0455900,NaN,NaN
2,Os09t0489500-01,-4.216829,4.167302,688.098162,1.410000e-09,0.000013,Os09g0489500,NaN,NaN
3,Os01t0557100-01,3.801885,6.133866,632.181436,2.040000e-09,0.000013,Os01g0557100,NaN,NaN
4,Os01t0946600-01,3.757370,7.845944,601.114731,2.530000e-09,0.000013,Os01g0946600,NaN,NaN

In [26]:
len(cde['gene'])

44761

In [16]:
list = []
for i in cde['gene']:
    if len(cde.loc[cde['gene'] == i])>=2:
        list.append(i)
    else :
        pass

In [19]:
list

['Os09g0489500',
 'Os07g0245100',
 'Os04g0178300',
 'Os03g0129400',
 'Os07g0245100',
 'Os03g0734100',
 'Os09g0489500',
 'Os07g0684800',
 'Os03g0757600',
 'Os03g0757600',
 'Os07g0418500',
 'Os07g0597200',
 'Os10g0558700',
 'Os01g0975900',
 'Os07g0684800',
 'Os03g0417700',
 'Os01g0159800',
 'Os04g0178300',
 'Os03g0734100',
 'Os03g0129400',
 'Os12g0183100',
 'Os01g0159800',
 'Os06g0203200',
 'Os04g0650700',
 'Os10g0578800',
 'Os09g0417600',
 'Os03g0417700',
 'Os10g0578800',
 'Os09g0567500',
 'Os09g0417800',
 'Os09g0417600',
 'Os01g0975900',
 'Os09g0417600',
 'Os06g0203200',
 'Os04g0650700',
 'Os12g0183100',
 'Os12g0183100',
 'Os09g0417800',
 'Os10g0558700',
 'Os08g0202300',
 'Os09g0567500',
 'Os07g0597200',
 'Os08g0202300',
 'Os07g0418500']

In [24]:
len(list)

44

In [21]:
result = []
for value in list:
    if value not in result:
        result.append(value)

In [23]:
len(result)

21

In [28]:
len(set(list))

21