In [3]:
import pandas as pd

In [4]:
As = pd.read_csv('/data/doodle/as.csv')

In [5]:
Cd = pd.read_csv('/data/doodle/CD.csv')

In [6]:
len(As)

1083

In [7]:
len(Cd)

1762

In [8]:
Cd.head()

,gene,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,gene-psbB,86.982938,2.726863,0.858675,3.175662,1.494951e-03,7.735492e-03
1,Os01g0102600,109.175543,2.818524,0.760710,3.705123,2.112880e-04,1.446684e-03
2,Os01g0105300,16.927367,2.181575,0.610285,3.574683,3.506520e-04,2.252113e-03
3,Os01g0106400,1446.250122,-3.726076,0.411893,-9.046231,1.480000e-19,7.590000e-18
4,Os01g0106900,2113.140589,-2.108748,0.180506,-11.682395,1.570000e-31,2.070000e-29

In [9]:
As.head()

,gene,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,Os01g0106400,915.811691,-3.097902,0.385730,-8.031270,9.650000e-16,6.320000e-14
1,Os01g0110050,20.237043,2.054200,0.571372,3.595206,3.241350e-04,2.238842e-03
2,Os01g0110100,138.169158,2.333515,0.344982,6.764156,1.340000e-11,5.070000e-10
3,Os01g0113500,41.882404,-4.102633,0.538460,-7.619200,2.550000e-14,1.420000e-12
4,Os01g0114100,604.020467,-2.198700,0.288425,-7.623118,2.480000e-14,1.390000e-12

In [10]:
dic = []
for i in As['gene']:
    for j in Cd.index:
        if i == Cd.at[j,'gene']:
            dic.append(Cd.at[j,'gene'])
        else :
            pass

In [17]:
b=pd.DataFrame(dic)

In [18]:
b

                0
0    Os01g0106400
1    Os01g0113500
2    Os01g0114100
3    Os01g0121500
4    Os01g0121600
..            ...
559  Os12g0614500
560  Os12g0617250
561  Os12g0622850
562  Os12g0624300
563  Os12g0639500

[564 rows x 1 columns]

In [19]:
b.to_excel('/data/doodle/match.xlsx')